.home__container {
    max-width: 450px;
    margin: 0 auto 1rem;

    a {
        color: #408cfd;
        font-weight: 600;
        text-decoration: none;
    }

    .my_photo__container {
        border-radius: 100%;
        width: fit-content;
        margin: 0 auto;
        padding-top: 3rem;

        img {
            border-radius: 100%;
        }
    }

    .my_data__container {
        text-align: center;
        padding-top: 2rem;

        h1 {
            font-family: "Patrick Hand", cursive;
        }

        p {
            color: var(--bs-secondary);
        }
    }

    .main_section__container {
        padding-top: 2rem;

        .content__container {
            background-color: #eff1f4;
            padding: 0 1rem 1.3rem;
            border-radius: 5px;

            .section {
                padding-top: 1.3rem;

                .title {
                    font-weight: 700;
                    color: #65727e;
                }

                .subtitle {
                    font-weight: 500;
                    color: #4e5862;
                }

                .mapped_data:not(:first-child) {
                    margin-top: 1.3rem;
                }

                .mapped_sub_data:not(:first-child) {
                    margin-top: 5px;
                }
            }
        }
    }

    .lifestyle_section__container {
        .content__container {
            .section {
                .data:not(:last-child) {
                    margin-bottom: 0.3rem;
                }
            }
        }
    }
}
